body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-banner{
    background-color: #FFFFFF;
    color: white;
    width: 1440px;
    height: 800px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-body{
    background-color: #FFFFFF;
    color: black;
    height: 41px;
    margin-top: 40px;
}

.feedbacks{
    background-color: blue;
    color: white;
    width: 1440px;
    height: 344px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spacing{
    width: 1440px;
    height: 120px;
    background-color: green;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: 1216px;
    height: 41px;  
    justify-content: space-between;
    align-items: center;
}
.buttons{
    width: 190px;
    height: 21px;
    display: flex;
    align-items: center;
    color: #1D63FF;
}

#cadButton{
       background:none; 
       border: 2px solid #1D63FF;     
}

.acess{
    width: 86px;
    height: 21px;

    display: flex;
    justify-content: center;
}

#acButton{
    background: none;
    border: none; 
}

.top-bar{
    width: 1440px;
    height: 32px;
    display: flex;
    background-color: #0D0B1A;
    color: white;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

#x{ 
    width: 9.5px;
    height: 9.5px;
    display: flex;
    align-items: center;
    color: green;
}
#x:hover{
    color:white;    
}

.logo{
	overflow: hidden;
}

.logo img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.logo:hover img {
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}