body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-banner{
    background-color: black;
    color: white;
    width: 1440px;
    height: 800px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-body{
    background-color: #FFFFFF;
    color: black;
    width: 1216px;
    height: 41px;    
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feedbacks{
    background-color: blue;
    color: white;
    width: 1440px;
    height: 344px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spacing{
    width: 1440px;
    height: 120px;
    background-color: green;
}